body {
  background-color: #336699;
}

h1 {
  color: white;
}

#leaderboard {
  height: 90vh;
  .user {
    border: 3px solid transparent;
    cursor: pointer;

    &:nth-of-type(odd) {
      background-color: lightgray;
    }
    &:nth-of-type(even) {
      background-color: darkgray;
    }
    &.selected {
      background-color: blue;
    }
    &:hover {
      border: 3px solid pink;
    }

    div:first-child {
      align-items: center;
      display: flex;

      span {
        padding: 0 1vw;
      }
      img {
        border-radius: 100%;
      }
    }
  }
}

#chart-container {
  height: 50vh;
  width: 50vw;
}

#actionMenu {
  align-items: center;
  background-color: pink;
  bottom: 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;

  h3 {
    margin: 0;
  }
}

#background {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#game {
  > h3 {
    text-align: center;
    text-decoration: underline;
  }

  div {
    display: flex;
    justify-content: space-around;

    div, h3 {
      align-items: center;
      display: flex;
      height: 50vh;
    }

    div {
      border: 5px solid transparent;
      cursor: pointer;
      width: 40%;
      &:hover {
        background-color: white;
      }
      &.selected {
        border: 5px solid pink;
      }
    }
  }
  button {
    height: 10vh;
    width: 100%;
  }
}
