body {
  background-color: #336699;
}

h1 {
  color: white;
}

#leaderboard div {
  align-items: center;
  cursor: pointer;
  display: flex;

  &:nth-of-type(odd) {
    background-color: lightgray;
  }
  &:nth-of-type(even) {
    background-color: darkgray;
  }
  &.selected {
    background-color: blue;
  }

  span {
    padding: 0 1vw;
  }
  img {
    border-radius: 100%;
  }
}

#actionMenu {
  background-color: pink;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#game {
  div {
    display: flex;
    justify-content: space-around;
    div {
      align-items: center;
      display: flex;
      height: 50vh;
      width: 40%;
      &:hover {
        background-color: white;
      }
    }
  }
  button {
    height: 10vh;
    width: 100%;
  }
}
