@primary-color: #224466;

@selected-color: #3c77b3; // lighten(@primary-color, 20%)
@hover-color: #152a40; // darken(@primary-color, 10%)
@ready-color: #2AE38B;
@warning-color: #ea3e3a;

@header-height: 20vh;
@header-logo-height: 8vh;

body {
  background-color: @primary-color;
  font-family: sans-serif;
  margin: 0;
  overflow-y: hidden; // remove vertical scrollbar on page load
}

header {
  align-items: center;
  background-color: @hover-color;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  height: @header-height;
  justify-content: space-around;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  &.ready {
    background-color: @selected-color;
    color: black;
  }

  img {
    height: @header-logo-height;
  }
}

#leaderboard {
  max-height: 90vh;
  margin-top: @header-height;
  overflow-y: auto;

  .user {
    border-bottom: 1px solid fade(white, 50%);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: fade(@hover-color, 50%);
    }
    &.selected {
      background-color: fade(@selected-color, 75%);

      img {
        background: url(/app/checkmark.svg) @hover-color;
        background-size: cover; // stay below background
        box-sizing: border-box;
        height: 50px;
        padding-left: 50px;
        width: 50px;
      }
    }

    div {
      align-items: center;
      display: flex;
      padding: 1vh 0;

      span {
        padding: 0 1vw;
        &:nth-of-type(1) {
          flex-basis: 2vw;
        }
        &:nth-of-type(2) {
          flex-basis: 80vw;
        }
        &:nth-of-type(3) {
          flex-basis: 5vw;
        }
        &:nth-of-type(4) {
          flex-basis: 1vw;
          &:hover {
            color: @ready-color;
          }
        }
      }

    }
  }
}

.avatar {
  border-radius: 100%;
  max-width: 50px;
}

#chart-container {
  height: 50vh;
}
#myChart {
  user-select: none;
}

#game {
  div {
    margin-top: @header-height - 5vh;
  }

  > div {
    display: flex;
    justify-content: center;

    div {
      align-items: center;
      background-color: @warning-color;
      border: 1px solid white;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 60vh;
      justify-content: center;
      width: 40%;

      &.initial {
        background-color: @hover-color;
        color: white;
      }

      &:hover, &.winner {
        background-color: @ready-color;
        color: white;
      }
    }
  }
}

.logo {
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.UIOverlay {
  position: relative;
}
